:root {
  --blue: #2A8BF2;
  --offwhite:#FAFBFF;
  --grey : #707C98;
  --red: #FF3366;



}
.app-dashboard {
  background-color: whitesmoke;
  height:100vh;
  width:100%;
  border:1px solid black;
  display: flex;
  min-height: 500px;

}

.profile_container {
  border: 1px solid black;
  flex-grow: 1;
  /* width : 15%; */
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   margin-right:10px;
}
.chatrooms_display {
  border:1px solid red;
  flex-grow:1;
}

.chatrooms_header_wrapper{
  height:20%;
  border: 1px solid black;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatrooms_header_details{

  display: flex;
  justify-content: space-between;
}
.chatrooms_list {
  background-color: white;
  border:1px solid red;
  height:80%;
}
.chatroom_wrapper{
  border: 1px solid black;
  margin: 10px 5px;
  height:80px;
}
.chatroom_details{
  display: flex;
  justify-content: space-between;
}
.chatroom_user_details{
  display: flex;

}
.chat_display_container{
 flex-grow: 4;
}
.chat_display_header{
  border:1px solid black;
  display: flex;
  height:15%;
  align-items: center;
}
.chat_display_image{
  margin-left: 20px;
}
.message_wrapper{
  border: 1px solid black;
  height: 75%;
}
 .message_container{
border: 1px solid black;
height: 120px;
margin: 20px;
 }
 .message_from{
  height:100%;
  background-color: white;

  display: flex;
  border:1px solid red;
 }
 .left_message_user{
  margin:10px
 }
 .left_message{
  align-self: center;
  border:1px solid black;
  width:60%;
  height:80px;
  border-radius:0px 7px 7px 7px ;
  color: white;
  background-color: var(--blue);
  position: relative;
 }
 .left_message_text{
  margin: 10px;
 }
 .message_timeStamp{
  font-size: x-small;
  position: absolute;
 bottom: 10px;
 right: 20px;
 }
 a {
  color: white;
  text-decoration: none;
  font-size: x-small;
}
.message_translate{
  position: absolute;
  bottom: 10px;
  left: 100px;
}
.message_grammar{
  position: absolute;
 bottom:10px;
 left: 10px;
}
.message_to{
  background-color: white;
  height:100%;
  display: flex;
  flex-direction: row-reverse;
}
.right_message{
  align-self: center;
  border:1px solid black;
  width:60%;
  height:80px;
  border-radius:7px 0px 7px 7px ;
  background-color: white;
  position: relative;
  margin-right: 20px;

}
.right_message_text{
  position: absolute;
  right:10px;
  top: 10px;
}
.right_message_grammar{
  color: black;
  position: absolute;
  bottom:10px;
  left: 10px;
}
.message_footer_wrapper{
  display: flex;
  height:10%;
  border:1px solid black;
  align-items: center;
}
.footer_input{
  height: 60%;
  width:90%;
  margin:10px;
}
.footer_button {
  height:60%;
  width:10%;
}