:root {
  --offwhite: #fafbff;
  --grey: #707c98;
  --red: #ff3366;

}
.app-dashboard {

background: linear-gradient(0deg, rgba(255,255,255,1) 34%, rgba(254,239,239,1) 54%, rgba(254,234,234,1) 75%, rgba(255,244,244,1) 100%);
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  display: flex;
  min-height: 500px;
}

.profile_container {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 60px;
  box-shadow: 6px 0px 5px -8px rgba(0, 0, 0, 0.75);
  width: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.chatrooms_display {
 width: 40%;
margin: 40px 20px 90px 40px;
}
.chat_display_container {
  width:50%;
   margin:40px 20px 90px 40px;
 box-shadow: 0px 9px 40px 3px rgba(254,234,234,0.8);
}

.chatrooms_header_wrapper {

  position: relative;
  margin-right:30px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chatrooms_header_details {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 0px
}
.create_chat {
  background: linear-gradient(135deg, rgba(169,208,250,1) 0%, rgba(60,149,244,1) -15%, rgba(51,144,243,1) 58%, rgba(42,139,242,1) 83%, rgba(42,139,242,1) 100%);
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
}
.chatroom_list_background{
   padding-right: 30px;
  padding-left: 40px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  height:79%;

}
.chatrooms_list {
  background-color: white;
box-shadow: 0px 9px 40px 3px rgba(254,234,234,0.8);

}

.chatroom_wrapper {
  position: relative;
  margin: 20px 5px;
  box-shadow: 15px 7px 40px 3px rgba(254,234,234,0.8);
  height: 80px;

}
.chatroom_details {
  display: flex;
  justify-content: space-between;
}
.chatroom_search_wrapper{
  align-self: center;
  width:100%

}

.chatrooms_search{
width:100%;
height:50px;
outline: none;
border: none;
padding: 10px;
}
.chatroom_user_details {
  display: flex;
  align-items: center;
}
.chatroom_lastmessage{
  font-size: 0.7rem;
  padding-left: 40px;
}
.chatroom_date{
  font-size: 0.7rem;
  position: absolute;
  top :10px;
  right: 10px;
}

.chat_display_header {
  background-color: white;
  display: flex;
  height: 15%;
  align-items: center;
  margin-bottom: 3px;
}
.chat_display_image {
  margin-left: 20px;
}

.message_wrapper {
background-color: white;
  height: 75%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rebeccapurple green;
  margin-bottom: 2px;
  scroll-behavior: smooth;
}
.message_container {
  position:relative;
  transition: all ease 2s;
  min-height: 120px;
  margin: 20px;
}
.message_from {
  height: 100%;
  background-color: white;
  display: flex;
}
.left_message_user {
  margin: 10px;
}
.left_message {
  align-self: center;
  border: none;
  width: 60%;
  height: 80px;
  border-radius: 0px 7px 7px 7px;
  color: white;
background: linear-gradient(135deg, rgba(169,208,250,1) 0%, rgba(60,149,244,1) -15%, rgba(51,144,243,1) 58%, rgba(42,139,242,1) 83%, rgba(42,139,242,1) 100%);
  position: relative;
 box-shadow: 15px 7px 40px 3px rgba(254,234,234,0.8);
}
.left_message_text {
  margin: 10px;
}
.message_timeStamp {
  font-size: x-small;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
a {
  color: white;
  text-decoration: none;
  font-size: x-small;
}
.message_translate {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.message_translate:hover{
  font-size:0.7rem;
}
.message_grammar {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.message_grammar:hover{
  font-size:0.7rem;
}

.message_to {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.right_message {
  align-self: center;
  box-shadow: 15px 7px 40px 3px rgba(254,234,234,0.8);
  border:1px solid rgba(254,234,234,0.6);
  width: 60%;
  padding-bottom:20px;
  min-height: 90px;
  border-radius: 7px 0px 7px 7px;
  background-color: white;
  position: relative;
  margin-right: 20px;
}
.right_message_layout{
display: flex;
flex-direction: column;
align-items: flex-end;

}
.grammar_response{
  font-size: 0.7rem;
  font-style: italic;
  align-self: flex-start;
  padding: 10px
}
.right_message_text {
padding:10px 10px 0px 0px;
}
.right_message_grammar {
  color: black;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.right_message_traslate{
color: black;
  position: absolute;
  bottom: 10px;
  left: 40px;
}
.right_message_traslate:hover{
  font-size: 0.7rem;
}
.right_message_grammar:hover{
  font-size:0.7rem;

}
.message_text {
  font-size: 0.8rem;
  animation: reveal 0.75s eae 0s 1 normal none;
}
@keyframes reveal {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}



.translated_text{
font-size: 0.8rem;
animation: Ease_in 0.75s ease 0s 1 normal none;
}
@keyframes Ease_in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.message_footer_wrapper {
  border-top: 1px solid rgba(254,239,239,1);
  display: flex;
  justify-content: space-around;
  height: 10%;
  align-items: center;
  padding:10px;
}
.footer_input {
 padding: 10px;
  /* border: none; */
  height: 60%;
  width: 80%;
  margin: 10px;
}
.speak {
  padding:15px;
}
.send{
  padding:15px;
}
.AI_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.AI_name{
  padding-left: 10px;
}
.chatroom_user_image {
  margin: 5px;

}
.user_image {
  width: 40px;
  height: 50px;
  border-radius: 50%;
}
